<!-- _includes/projects.html -->
<div class="project-card">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}" class="project-link">
    {%- else -%}
    <a href="{{ project.url | relative_url }}" class="project-link">
      {%- endif %}
      <div class="card project-card-content">
        {%- if project.img %}
        <div class="project-image-container">
          {%- include figure.html
            path=project.img
            alt="project thumbnail"
            class="project-image" -%}
        </div>
        {%- endif %}
        <div class="card-body project-card-body">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
          {%- if project.collaborators %}
          <div class="project-collaborators">
            <strong>Collaborators:</strong> {{ project.collaborators }}
          </div>
          {%- endif %}
        </div>
      </div>
    </a>
</div>
